/* Default Page Styles */
body, html { /* Default Styles for page to ensure proper rendering */
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    background: rgb(156,25,180);
    background: -moz-linear-gradient(130deg, rgba(156,25,180,1) 0%, rgba(141,0,255,1) 100%);
    background: -webkit-linear-gradient(130deg, rgba(156,25,180,1) 0%,rgba(141,0,255,1) 100%);
    background: -o-linear-gradient(130deg, rgba(156,25,180,1) 0%,rgba(141,0,255,1) 100%);
    background: linear-gradient(130deg, rgba(156,25,180,1) 0%,rgba(141,0,255,1) 100%);
    background-size: 115vw, 115vh;
    background-position: center center;
    background-attachment: fixed;
    overflow: hidden;
}

* { /* Fix default CSS things that make web development harder */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

input[type="text"], input[type="number"] { /* Styles for input fields */
    display: block;
    width: 100%;
    height: 26px;
    color: white;
    text-align: center;
    background: #111;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: #7B3188;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}



/* Fonts */
@font-face { /* ERAS BOLD ITC - Team Font */
    font-family: 'PL_Eras';
    font-style: normal;
    font-weight: 400;
    src: local('Eras Bold ITC');
    src: url("/fonts/ErasITC-Bold.eot");
    src: url("/fonts/ErasITC-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/ErasITC-Bold.woff") format("woff"), url("/fonts/ErasITC-Bold.ttf") format("truetype"), url("/fonts/ErasITC-Bold.svg#ErasITC-Bold") format("svg");
}



/* Animations */
@keyframes rotate {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }



/* Page Structure */

/* Top & Bottom Bars */
#bar-top-container, #bar-bottom-container {
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 100;
}

#bar-top-container {
    top: 0;
}

#bar-bottom-container {
    bottom: 0;
}

.bar-backdrop {
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 100;
    height: 65.2403px;
    background: rgba(0,0,0,1);
    -webkit-box-shadow: 0px 0px 27px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 0px 27px 0px rgba(0,0,0,0.35);
    box-shadow: 0px 0px 27px 0px rgba(0,0,0,0.35);
    -webkit-app-region: drag;
}

#bar-top-backdrop {
    top: 0;
}

#bar-bottom-backdrop {
    bottom: 0;
    height: 55px;
    -webkit-app-region: no-drag;
}

#bar-logo-container{
  position: fixed;
  top: 20px;
  left: 0;
  right: 0;
  z-index: 102;
  transform: translateX(-50%);
  margin-left: 50vw;
  height: 90px;
  width: 90px;
  background-color: #cbcbcb;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 27px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 27px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 27px 0px rgba(0,0,0,0.2);
}

#bar-logo {
  position: absolute;
  top: 5px;
  left: 5px;
  height: 80px;
  width: 80px;
  background: url("/images/logoPurple.svg");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  transform-origin: 50% 50%;
  animation-name: rotate !important;
  animation-duration: 15.2403s !important;
  animation-iteration-count: infinite !important;
  animation-timing-function: linear !important;
}

.bar-indicator {
    position: fixed;
    top: 12.5px;
    height: 40px;
    width: 150px;
    z-index: 102;
    border-style: solid;
    border-width: 2px;
    border-color: #7B3188; 
    border-radius: 10px;
    color: #7B3188;
    text-align: center;
    line-height: 38px;
    font-family: "PL_Eras", Arial, Helvetica, sans-serif;
}

#bar-connection {
    left: 25px;
    border-color: #d00;
    color: #d00;
}

#bar-connection.connected {
    border-color: #0d0 !important;
    color: #0d0 !important;
}

#bar-tuning {
    right: 25px;
    -webkit-app-region: no-drag;
    cursor: pointer;
}

#bar-timer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 102;
    margin-left: auto;
    margin-right: auto;
    color: #0d0 !important;
    text-align: center;
    font-size: 3em;
    letter-spacing: 8px;
    font-family: "PL_Eras", Arial, Helvetica, sans-serif;
    transition: opacity 0.9s ease-in-out;
}

#bar-timer.warning {
    color: #f98a1b !important;
}

#bar-timer.ending {
    color: #d00 !important;
}

#bar-close, #bar-reload, #bar-position {
    position: fixed;
    bottom: 10px;
    height: 35px;
    width: 35px;
    z-index: 102;
    border-style: solid;
    border-width: 2px;
    border-color: #7B3188; 
    border-radius: 7.5px;
    color: #7B3188;
    text-align: center;
    font-size: 1.2em;
    line-height: 33px;
    font-family: "PL_Eras", Arial, Helvetica, sans-serif;
    cursor: pointer;
}

#bar-close {
    right: 10px;
    font-size: 1.6em;
    line-height: 1.25em;
}

#bar-reload {
    right: 55px;
}

#bar-position {
    right: 100px;
}

/* Content */
#content-container { /* Container that contains page content - seperate from top and bottom bars */
    position: relative;
    width: calc(100vw - 40px);
    height: calc(100vh - 160px);
    margin-left: auto;
    margin-right: auto;
    margin-top: 85px;
}

#content-container > div {
    position: absolute;
    background-color: white;
    padding: 15px;
    border-radius: 7.5px;
    height: 100%;
}

#panel-main {
    padding: 0 !important;
    top: 0;
    left: 0;
    width: calc((16/9) * (100vh - 160px));
}

#panel-data {
    top: 0;
    right: 0;
    width: calc(100% - ((16/9) * (100vh - 160px)) - 20px);
}

#tuning {
    display: none;
}

#tuning-list {
    height: calc(100vh - 235px);
    margin-top: 15px;
    overflow-y: scroll;
}

#panel-main.tuning {
    padding: 15px !important;
}

#panel-main.tuning > #tuning {
    display: initial;
}

#panel-main.tuning > #camera {
    display: none
}

/* Tuning Controls */
#tuning-controls > * {
    margin: 0 !important;
}

#tuning-controls > input {
    display: inline-block;
    width: calc(((100% - 90px)/2) - 5px);
}

#tuning-controls > div {
    position: absolute;
    top: 15px;
    height: 26px;
    width: 40px;
    background-color: #000;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-color: #7B3188; 
    border-radius: 5px;
    line-height: 20px;
    color: #7B3188;
    cursor: pointer;
}

#tuning-button-set {
    right: 62.5px;
}

#tuning-button-get {
    right: 15px;
}

#tuning-controls > div > p {
    margin-top: 2px;
}


/* Dashboard Modules */

#camera { /* MJPG Camera Window */
    height: 100%;
    width: 100%;
    background-color: black;
    border-radius: 7.5px;
}


/* Widgets */

.widget-gauge {
    display: block;
    position: relative;
    width: 100%;
    height: 26px;
    background: #111;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: #7B3188;
}

.widget-gauge-bar {
    height: 100%;
    background-color: #7B3188;
    max-width: 100%;
    min-width: 0%;
}

.widget-gauge-tick {
    position: absolute;
    top: 0;
    height: 100%;
    width: 2px;
    transform: translateX(-1px);
    background-color: white;
}