/* Default Page Styles */
body, html { /* Default Styles for page to ensure proper rendering */
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    background: rgb(156,25,180);
    background: -moz-linear-gradient(130deg, rgba(156,25,180,1) 0%, rgba(141,0,255,1) 100%);
    background: -webkit-linear-gradient(130deg, rgba(156,25,180,1) 0%,rgba(141,0,255,1) 100%);
    background: -o-linear-gradient(130deg, rgba(156,25,180,1) 0%,rgba(141,0,255,1) 100%);
    background: linear-gradient(130deg, rgba(156,25,180,1) 0%,rgba(141,0,255,1) 100%);
    background-size: 115vw, 115vh;
    background-position: center center;
    background-attachment: fixed;
    overflow: hidden;
}

* { /* Fix default CSS things that make web development harder */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

input, button { /* Styles for buttons */
    display: block;
    width: 100%;
    color: white;
    background: #111;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: #7B3188;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}



/* Fonts */
@font-face { /* ERAS BOLD ITC - Team Font */
    font-family: 'PL_Eras';
    font-style: normal;
    font-weight: 400;
    src: local('Eras Bold ITC');
    src: url("/fonts/ErasITC-Bold.eot");
    src: url("/fonts/ErasITC-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/ErasITC-Bold.woff") format("woff"), url("/fonts/ErasITC-Bold.ttf") format("truetype"), url("/fonts/ErasITC-Bold.svg#ErasITC-Bold") format("svg");
}



/* Page Structure */

/* Top & Bottom Bars */
#bar-top-container, #bar-bottom-container {
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 100;
}

#bar-top-container {
    top: 0;
}

#bar-bottom-container {
    bottom: 0;
}

.bar-backdrop {
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 100;
    height: 65.2403px;
    background: rgba(0,0,0,1);
    -webkit-box-shadow: 0px 0px 27px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 0px 27px 0px rgba(0,0,0,0.35);
    box-shadow: 0px 0px 27px 0px rgba(0,0,0,0.35);
    -webkit-app-region: drag;
}

#bar-top-backdrop {
    top: 0;
}

#bar-bottom-backdrop {
    bottom: 0;
    height: 55px;
}

#bar-logo-container{
  position: fixed;
  top: 20px;
  left: 0;
  right: 0;
  z-index: 102;
  transform: translateX(-50%);
  margin-left: 50vw;
  height: 90px;
  width: 90px;
  background-color: #bebebe;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 27px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 27px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 27px 0px rgba(0,0,0,0.2);
}

#bar-logo {
  position: absolute;
  top: 5px;
  left: 5px;
  height: 80px;
  width: 80px;
  background: url("/images/logoPurple.svg");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  transform-origin: 50% 50%;
  transition: transform 750ms ease-in-out;
}

.bar-indicator {
    position: fixed;
    top: 12.5px;
    height: 40px;
    width: 150px;
    z-index: 102;
    border-style: solid;
    border-width: 2px;
    border-color: #7B3188; 
    border-radius: 10px;
    color: #7B3188;
    text-align: center;
    line-height: 38px;
    font-family: "PL_Eras", Arial, Helvetica, sans-serif;
}

#bar-connection {
    left: 25px;
    border-color: #d00;
    color: #d00;
}

#bar-connection.connected {
    border-color: #0d0 !important;
    color: #0d0 !important;
}

#bar-tuning {
    right: 25px;
}

#bar-timer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 102;
    margin-left: auto;
    margin-right: auto;
    color: #0d0 !important;
    text-align: center;
    font-size: 3em;
    letter-spacing: 8px;
    font-family: "PL_Eras", Arial, Helvetica, sans-serif;
}

#bar-timer.warning {
    color: #f98a1b !important;
}

#bar-timer.ending {
    color: #d00 !important;
}

/* Content */

#content-container { /* Container that contains page content - seperate from top and bottom bars */
    position: relative;
    width: calc(100vw - 40px);
    height: calc(100vh - 160px);
    margin-left: auto;
    margin-right: auto;
    margin-top: 85px;
}

#content-container > div {
    position: absolute;
    background-color: white;
    padding: 15px;
    border-radius: 7.5px;
    height: 100%;
}

#panel-main {
    top: 0;
    left: 0;
    width: calc((16/9) * (100vh - 160px));
}

#panel-data {
    top: 0;
    right: 0;
    width: calc(100% - ((16/9) * (100vh - 160px)) - 20px);
}



/* Dashboard Modules */