/* Default Page Styles */
body, html {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    background: rgb(156,25,180);
    background: -moz-linear-gradient(130deg, rgba(156,25,180,1) 0%, rgba(141,0,255,1) 100%);
    background: -webkit-linear-gradient(130deg, rgba(156,25,180,1) 0%,rgba(141,0,255,1) 100%);
    background: -o-linear-gradient(130deg, rgba(156,25,180,1) 0%,rgba(141,0,255,1) 100%);
    background: linear-gradient(130deg, rgba(156,25,180,1) 0%,rgba(141,0,255,1) 100%);
    background-size: 115vw, 115vh;
    background-position: center center;
    background-attachment: fixed;
}

/* Fonts */


/* Page Structure */


/* Dashboard Modules */